
						<li>
							<div class="commentTop">
								<ul>
									<li><a href="#"><%= User.find(comment.user_id).username %></a></li>
									<li><% from_time = Time.now %><%= distance_of_time_in_words(comment.created_at, from_time) %> ago</li>
									<li class="reply"><a href="#">Reply</a></li>
								</ul>
								<div class="clear"></div>
							</div>
							<div class="cont">
								<%= comment.body %>
							</div>
						</li>
