$green-color: #49868e;
$dark-color: #333;
$light-color: #888;
$custom-font: "MuseoSlab";

@mixin rounded($radius: 5px) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin gradient($light, $dark) {
	background: $dark; 
	background: -moz-linear-gradient(top,  $light 2%, $dark 99%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,$light), color-stop(99%,$dark)); 
	background: -webkit-linear-gradient(top,  $light 2%,$dark 99%); 
	background: -o-linear-gradient(top,  $light 2%,$dark 99%);
	background: -ms-linear-gradient(top,  $light 2%,$dark 99%);
	background: linear-gradient(to bottom,  $light 2%,$dark 99%); 

}

@mixin shadow($a) {
	-moz-box-shadow: $a;
	-webkit-box-shadow: $a; 
	box-shadow: $a;
}

@mixin transition($type: linear) {
  -webkit-transition: background-position 0.2s $type;
     -moz-transition: background-position 0.2s $type;
       -o-transition: background-position 0.2s $type;
          transition: background-position 0.2s $type;

}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus {
	outline:none;
}

/** @ Font Face **/
@font-face {
    font-family: 'MuseoSlab';
    src: url('font/museo_slab-webfont.eot');
    src: url('font/museo_slab-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/museo_slab-webfont.woff') format('woff'),
         url('font/museo_slab-webfont.ttf') format('truetype'),
         url('font/museo_slab-webfont.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;

}


html {
	height:100%;
}
body {
	background: url(leftBg.jpg) repeat-y;	
	font-family: "Helvetica", "Arial", sans-serif;
	height:100%;
	color:$dark-color;
}

a {
	color:$green-color;
	text-decoration: none;
	font-family:$custom-font;
	&:hover {
		color:#1f4449;
	}
}

/** heading **/
h1, h2, h3, h4, h5 {
	font-family:$custom-font;
}

h1 { font-size:28px; }
h2 { font-size:20px; }
h3 { font-size:18px; }
h4 { font-size:16px; }
h5 { font-size:14px; }

/** input **/
.textInput {
	@include shadow(inset 1px 1px 4px rgba(0, 0, 0, 0.4));
	@include rounded;
	border:none;
	padding:5px;
	font-size:12px;
	font-family:$custom-font;
	color:$dark-color;
}


/** header **/
header {
	background:url(topBg.png) repeat-x;
	height:54px;
	width:100%;
	min-width:960px;
	position:absolute;
	left:0;
	top:0;

	ul li {
		float:left;
		background:url(line_02.gif) repeat-y right bottom;
	}

	.logo {
		width:200px;
		position:relative;

		a {
			background: url(logo.png) no-repeat center center;
			background-size:149px 50px;
			display:block;
			height:50px;
			text-align:center;
			position:relative;
		}
	}


	.createRoom {
		padding:5px;
		height:40px;
	}

	.searchTopic {
		background:none;
		padding:7px 10px 0 8px;
		height:43px;

		.textInput {
			font-size:13px;
			padding:8px;
			width:308px;			
		}
	}

	nav {
		float:right;
		padding-right:10px;

		ul li {
			background:none;
			float:left;
			padding:0 10px;
			line-height: 50px;
			font-size:12px;
		}
	}
}

/** content **/
.rightFluid {
	padding:75px 20px 0 0;
	min-width:760px;
	margin-left:200px;

	.top {
		background:url(dot_01.gif) repeat-x 10px 20px;
		position:relative;
		z-index:2;
	}
}

.content {
	background:url(dot_01.gif) repeat-y right top;
	padding:25px 20px 40px 0;
	margin-right:200px;
	min-height:100%;
}

.topicInfo {
	background-color:#282828;
	@include rounded(0px 5px 5px 0px);
	padding:0px 0px 0px 15px;
	float:left;
	margin-bottom:10px;

	ul li {
		background:url(line_03.gif) repeat-y right top;
		float:left;
		height:35px;
		padding:5px 15px 0 15px;
		color:#fff;

		h3 {
			line-height:28px;
		}

		h5 {
			line-height:32px;
			font-size:12px;
		}
	}

	ul li.follow {
		background:none;
		padding:5px 8px 0 8px;
	}

	ul li.edit_delete {
		padding:5px 8px 0px 8px;
	}

	ul li.edit_delete a {
		margin:0 2px;
	}
}

.topicDescription {
	clear:both;
	margin-top:4px;
	background-color:#f7f7f7;
	border:1px solid #ddd;
	padding:8px 12px;
	font-size:12px;
	line-height:16px;
	color:$light-color;
	@include rounded(0px 5px 5px 0px);
}

.newThread {
	float:right;
}

.newThreadContent {
	background-color:rgba(0,0,0,0.6);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 99998
}

.newThreadBox {
	background-color:#eee;
	position:absolute;
	width:600px;
	height:280px;
	left:50%;
	top:50%;
	margin:-200px 0 0 -300px;
	border:1px solid #ccc;
	z-index:99999;
	@include shadow(0px 0px 20px rgba(0, 0, 0, 0.8));
	@include rounded;

	h3 {
		padding:20px 30px 0px 30px;
	}

	.textInput {
		padding:10px;
		width:96%;
		margin-bottom:15px;
		@include shadow(0px 0px 0px rgba(0, 0, 0, 0));
		border:1px solid #ccc;
	}

	.postEditor {
		padding:20px 30px 20px 30px;
	}

	.markItUpEditor {
		width: 98%;
		@include rounded;
		border:1px solid #ccc;
	}

	.postEditor button {
		margin:0;
	}	

	.newThreadClose {
		position:absolute;
		right:-10px;
		top:-10px;
		background-color:#000;
		color:#fff;
		border:3px solid #fff;
		@include rounded(25px);
		@include shadow(1px 1px 5px rgba(0,0,0,0.5));
		font-family:Arial, Helvetica, sans-serif;
		font-weight:900;
		padding:5px 7px;
	}
}

/** login **/
.signin {
	padding:15px 15px 0 15px;

	h5 {
		padding-bottom:4px;
		border-bottom:1px solid #2b585e;
		margin-bottom:10px;
	}
	.textInput {
		width:155px;
	}

	.btn {
		float:none;
		width:165px;
		border:none;		
		text-align:center;
	}
}

/** dashboard **/
.dashboardBox {
	padding:50px 0px 0 0;

	.trendingNewly {
		background:url(dashboard_bg.gif);
		padding:20px 0 0 0;

		.padding {
			padding:0px 20px 10px 20px;
		}

		.bottomBg {
			background:url(dashboard_top_bottom.gif) repeat-x;
			height:10px;
		}
	}
}

/** thread list detail **/
.threadDetail {
	padding:20px 0 0 35px;

	h3 {
		border-bottom:3px solid #d1d7d8;
		float:left;
		padding:0 0 2px 0;
	}

	h5 {
		clear:left;
		font-family: arial;
		color:$light-color;
		font-size:12px;
		padding-top:4px;
	}

	.description {
		font-size:13px;
		padding:15px 0 0 0;
		line-height:18px;
	}
}


/** post **/
.postEditor {
	padding:40px 30px 20px 30px;

	button {
		position:relative;
		margin:0 -12px 0 0;
	}
}

.comment {
	padding:45px 20px 0 20px;
	font-size:12px;

	ul {
		border-top:1px solid #dbdbdb;

		li {
			border-bottom:1px solid #dbdbdb;
			padding:15px;
		}

		ul {
			border-top:none;
			padding-bottom:25px;			
			li {
				border-bottom:none;
				float:left;
				padding:0 10px 0 0;
				color:$light-color;
			}

			.reply {
				float:right;
			}
		}
	}

	.cont {
		line-height:18px;	
	}
}

/** sidebar **/
.leftSideBar {
	width:200px;
	float:left;
	padding:20px 0 0 0;
	color:#fff;
	position:absolute;
	left:0px;
	top:50px;

	a {
		font-size:12px;
		color:#739094;
		&:hover {
			color:#fff;
		}
	}

	.profile {
		padding:0 0 0 15px;

		a {
			font-family:Arial, sans-serif;
		}

		figure {
			float:left;
			padding-right: 10px;
		}

		img {
			border:3px solid #fff;
			@include rounded;
		}
	}

	nav {
		background:url(line_01.gif) repeat-x top left;
		margin:15px 0 0 0;

		a {
			display:block;			
			padding:6px 10px;
		}

		a.addSubtopic {
			color:$green-color;
			font-size:10px;
			&:hover {
				color:#fff;
			}
		}

		.dashboard a {
			padding:15px 10px;
		}

		ul li {
			background:url(line_01.gif) repeat-x bottom left;
			color:#b6b6b6;
			font-size:12px;
			font-family:$custom-font;
		}

		h5 {
			padding:10px;
		}

		ul li.active {
			a {
				background-color:#091112;
			}

			ul {
				background-color:#152224;
				margin:0 15px 0 10px;
				padding-bottom:5px;
				@include rounded(0px 0px 5px 5px);
			}

			ul li a {
				background:none;
				padding:5px 0 5px 15px;
			}
		}

		ul li ul li {			
			a {
				padding:6px 15px;
			}
			background:none;
		}
	}
}


.threadSideBar {
	max-width:1250px;
	position:relative;
	margin-top:-30px;
	min-height:100%;
	z-index:1;
}


.rightSideBar {
	float:right;
	width:180px;
	position:relative;
	min-height:100%;

	.sideContent {
		position:absolute;
		top:45px;
		left:0px;

		ul li a {
			font-size:12px;
			line-height:20px;
		}

		h4 {
			padding-bottom:5px;
		}
	}
}



/** thread list **/
.threadList {
	li:first-child {
		@include rounded(0px 5px 0px 0px);
		border-top:1px solid #e1e1e1;
	}

	li:last-child {
		@include rounded(0px 0px 5px 0px);
	}

	li {
		padding:0 0 5px 0;
		border-left:1px solid #e1e1e1;		
		border-right:1px solid #e1e1e1;		
		border-bottom:1px solid #e1e1e1;		
		@include gradient(#f9f9f9, #f0f0f0);
			
		a.postLink {
			display:block;
			font-size:11px;
			color:$light-color;
			padding:10px 15px 10px 25px;			
			background-repeat:repeat-x;
			margin-left:27px;
			height:35px;


			span { display:block; font-family:arial; line-height:18px; }


			.left {
				float:left;
			}

			.right {
				float:right;
			}

			.title {
				font-size:14px;
				font-family:$custom-font;
				color:$green-color;
			}

			&:hover {


				.title {
					color: $dark-color;
				}

				.upVoteBg {
					color:#fff;
				}
			}

			.floatL {
				padding:0 10px 0 0;
			}

		}

		.upVote {
			padding:10px 10px 10px 10px;
			width:45px;
		}

	}

}

.upVote {
	float:left;
	width:32px;
	font-size:11px;
	height:10px;
	color:$green-color;
	margin-left:0px;
	line-height:5px;
	text-align:center;
	border:1px solid #e1e1e1 #fff #e1e1e1 #e1e1e1;
	@include rounded(0px 0px 0px 0px);

	.upVoteBg {
		background-color:$green-color;
		text-align:center;
		padding:4px 0;
		line-height:18px;
		width:30px;
		display:block;
		margin:5px auto 0 auto;
		color:#9ec9cf;
		@include rounded;
	}

	&:hover .upVoteBg {
		background-color:$dark-color;
	}

}


/** pagination **/
.pagination {
	text-align:center;
	padding-top:20px;

	li {
		display:inline;

		a {
			font-family:$custom-font;
			background-color:#fff;
			padding:5px 10px;
			font-size:12px;
			@include rounded;
			border:1px solid #ccc;

			&:hover {
				border:1px solid #aaa;
			}
		}	
	}

	li.active a {
		background-color:$green-color;
		color:#fff;
	}	
}





/** buttons **/
.btn {
	display:block;
	@include gradient(#4fa2ae, #216771);
	@include rounded;
	@include shadow(inset 1px 1px 0px rgba(152, 201, 208, 0.6));
	background-repeat: repeat-x;
	color:#e0eef0;
	font-size:11px;
	padding:8px;
	border:1px solid #216771;
	font-family:$custom-font;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	float:left;

	&:hover {
		background-color: #216771;
		background-position: 0 -15px;
		@include shadow(inset 1px 1px 0px rgba(152, 201, 208, 0.5));
		@include transition;
		color:#fff;
	}
	&:active {
		@include shadow(inset 0px 1px 6px rgba(0, 0, 0, 0.3));
	}
}

.btn-white {
	@include gradient(#ffffff, #ddd);
	@include shadow(inset 1px 1px 0px rgba(0, 0, 0, 0));	
	border:1px solid #ccc;
	color:$green-color;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover {
		background-repeat: repeat-x;
		background-color: #ddd;	
		background-position: 0 -15px;
		@include shadow(inset 1px 1px 0px rgba(255, 255, 255, 0.8));		
		color:$green-color;
	}
}

.btn-big {
	font-size:13px;
	padding:10px;
}

/** common **/
.clear {
	clear:both;
}

.floatL {
	float:left;
}

.floatR {
	float:right;
}